:root {
    --dark-blue: #3B5997;
    --grey-blue: #E9EBEF;
    --green: #5A8F47;
    --grey: #5E5E5E;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0
}

body {
    background-color: var(--grey-blue);
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-blue);
    color: white;
    padding: 1rem 4rem;
    font-size: 0.7rem;
}

header input,
header button {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    background-color: white;
    margin: 0.1rem;
}

header input {
    color: var(--grey);
}

header button {
    color: black;
}

main {
    padding: 3rem 12rem
}

#left {
    float: left;
    width: 50%;
}

img {
    padding-top: 1.5rem;
    width: 100%;
    height: auto;
}

#left p {
    font-weight: bold;
    font-size: 2rem;
}

#right {
    float: left;
    width: 50%;
}
#nameinput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    gap: 1rem;
}
#fn,#ln,#pwd,#mobemail{
        padding: 0.5rem 1.25rem;
        border-radius: 3px;
        background-color: white;
        margin: 0.1rem;
}
#pwd,#mobemail{
    padding: 0.5rem 0;
    display: block;
    width:100%;
}


